
#snakeboard {
    width: 450px;
    height: 450px;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 450px;
    height: 85px;
    background-color: #a0c9a2;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.score {
    margin-left: 30px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: aliceblue;
}

.mask {
    width: 450px;
    height: 450px;
    background: rgba(102, 102, 102, 0.3);
    position: absolute;
    top: 123px;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

.mask a {
    text-decoration: none;
    font-size: 26px;
    width: 250px;
    height: 70px;
    background-color: #a0c9a2;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    line-height: 70px;
}

.mask a:hover {
    background-color: #9ac19b;
}